{{ define "body" }}

<body class="page-template-default page ct-body singular singular-page not-front standard">
{{ end }}
  {{ define "main" }}
  <div id="main" class="main" role="main">

  	<div id="loop-container" class="loop-container">
  		<div class="entry">
  		<div class="entry-header">
  		<h1 class="entry-title">404: Page Not Found</h1>
  	</div>
  	<div class="entry-container">
  		<div class="entry-content">
  			<article>
          That page doesn't exist here. It never existed here. We have always been at war with Eastasia.
        </article>
  		</div>
  			</div>
  </div>	</div>

  </div>
  {{ end }}
